.button {
    background: $background-button;
    color: $text-color;
    border-radius: 10px;
    width: 280px;
    text-align: center;
    display: inline-block;
    padding: 20px 0;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    line-height: 22.4px;

    &.button--upload::before {
        content: "";
        background-image: url('/img/upload.svg');
        width: 16px;
        height: 16px;
        display: inline-block;
        margin: 0 14px 0;
    }
}

.button-style-2 {
    color: $text-color;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    text-decoration: underline;
    display: inline-flex;
    align-items: center;

    &.button-style-2--play::before {
        content: "";
        background-image: url('/img/play.svg');
        background-repeat: no-repeat;
        width: 16px;
        height: 17px;
        display: inline;
        margin: 0 8px 0;
    }
}

.button-reed-more {
    font-size: 18px;
    line-height: 140%;
    text-align: right;
    letter-spacing: 0.05em;
    text-decoration-line: underline;
    text-transform: uppercase;
    color: $text-color;
}

.button-close {
    
    &::before {
        content: "";
        display: block;
        width: 20px;
        height: 20px;
        background: url(/img/close.svg);
        background-size: contain;
        background-repeat: no-repeat;
    }
}

.swiper-project__button-prev {
    background: url('/img/arrow.svg');
    width: 47px;
    height: 110px;
    background-size: contain;
    background-repeat: no-repeat;
    cursor: pointer;
}

.swiper-project__button-next {
    background: url('/img/arrow.svg');
    width: 47px;
    height: 110px;
    transform: rotate(180deg);
    background-size: contain;
    background-repeat: no-repeat;
    cursor: pointer;
}

.swiper-button-next:after, .swiper-button-prev:after {
    font-size: 30px !important;
}

.swiper-button-next {
    right: -10px !important;
    color: #000 !important;
}

.swiper-button-prev {
    left: -10px !important;
    color: #000 !important; 
}


@media (max-width: 768px) {
    .swiper-project__button-prev {
        width: 20px;
        height: 90px;
        background: url('/img/arrow-m.svg');
        margin: 0 0 0 10px;
    }

    .swiper-project__button-next {
        width: 20px;
        height: 90px;
        background: url('/img/arrow-m.svg');
        margin: 0 10px 0 0;
    }

    .swiper-button-next:after, .swiper-button-prev:after {
        font-size: 20px !important;
    }

    .swiper-button-next {
        right: -30px !important;
        color: #000 !important;
    }
    
    .swiper-button-prev {
        left: -30px !important;
        color: #000 !important; 
    }
}